<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:utils="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
   		http://www.springframework.org/schema/util/spring-util.xsd">
    <context:property-placeholder location="classpath:musicClassies.properties"/>

    <bean id="rockMusicBean"
          class="org.musicClasses.RockMusic">
    </bean>
    <bean id="rapMusicBean"
          class="org.musicClasses.RapMusic">
    </bean>
    <bean id="classicMusicBean"
          class="org.musicClasses.ClassicMusic">
    </bean>

    <utils:list id="musicList" list-class="java.util.ArrayList" value-type="org.musicClasses.Music">
        <ref bean="rockMusicBean"/>
        <ref bean="rapMusicBean"/>
        <ref bean="classicMusicBean" />
    </utils:list>
    <bean id="musicPlayerBean"
          class="org.musicClasses.MusicPlayer">
        <constructor-arg ref="rockMusicBean"/>
    </bean>
    <bean id="musicPlayerSetterBean"
          class="org.musicClasses.MusicPlayer">
        <property name="music" ref="rockMusicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="duration" value="${musicPlayer.duration}"/>
    </bean>
    <bean id="musicPlayerByListBean"
          class="org.musicClasses.MusicPlayer">
        <constructor-arg ref = "musicList"/>
    </bean>
</beans>