<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="rockMusicBean"
          class="org.classes.RockMusic">
    </bean>
    <bean id="musicPlayerBean"
          class="org.classes.MusicPlayer" >
        <constructor-arg ref="rockMusicBean"/>
    </bean>
    <bean id="musicPlayerSetterBean"
          class="org.classes.MusicPlayer" >
        <property name="music" ref = "rockMusicBean"/>
    </bean>
</beans>